{% extends 'admins/adminbase.html'%}
{%load static%}
{%block contents%}

<!-- container -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="section-title">Blockchain Technology</h3>
            <p>
                Blockchain is a comprehensive solution
                to shield the vulnerabilities in many sectors which are
                prone to corruption and human error. The Land Registry
                is one of the cases where there can be a lot of human
                interventions which can cause errors intentionally or
                unintentionally. Apart from that there are many cases of
                fraud, falsified identities and forged documents and
                even a complete record loss within paperwork. When
                there are thousands of records to be maintained and
                tracked it is obvious that integrity and safety is tampered
                in one way or other. There is no proper solution to this.
                The transparent nature of the blockchain will make this
                possible by not involving any middleman other than the
                land Inspector while an ownership of a land is
                transferred. The immutability and traceability provided
                by the Blockchain helps in implementing decentralized
                technology within the process of land registration.
            </p>


        </div>
        <div class="col-md-6">
			 <h3 class="section-title">&nbsp;</h3>
            Current Land Registration system is tedious since it
            involves writing of documents by hand and maintaining
            those large volumes of documents. But as the time
            passed, technology has been modernized and facilitated
            us with many amusing things, one such technology is
            Blockchain. Main issue in maintaining hard copies of
            the documents of every land is that it becomes very
            difficult to maintain and track them ultimately
            involving too much labour. This results in both time and
            cost consuming. Also, transparency is one other issue
            where there are many cases of corruption, selling a land
            more than once due to this. Blockchain is one of the
            most desirable solutions available to deal with the
            current problems.
        </div>
    </div>
</div>
<!-- /container -->


{%endblock%}